*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    position: relative;
    display: flex;
    font-family: 'Montserrat', sans-serif;
  }
  .header_text{
    margin-left: 500px;
  }
.header_img{
    position: fixed;
    
}
.header_taxt-2{
    margin-left: 40px;
}
.img-1{
    width: 500px;
    height: 750px;
}

.img-2{
    margin-top: 220px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    top: 0;
}
.img1-1 p{
    position: absolute;
    top: 0;
    color: #fff;
    margin-left: 40px;
    margin-top: 390px;
}
.img1-1{
    margin-left: 160px;
}

.header_text-1{
    width: 900px;
    height: 1000px;
}
.text-h1{
    margin-top: 30px;
    margin-left: 40px;
}
.text-h2{
    margin-top: 40px;
}
.fool1 p{
    font-size: 14px;
    width: 800px;
    margin-top: 20px;
    margin-left: 40px;
}
.header_text-1 button{
    margin-top: 30px;
    background-color: #fff;
    margin-left: 40px;
    width: 100px;
    height: 30px;
    border: 1px solid grey;
 
}
.header_bt{
    color: #000;
    border-radius: 5%;
}
.header_txt-2-img{
    display: flex;
    height: 500px;
    width: 100px;
}
.img-3{
    height: 400px;
    width: 400px;
    border-radius: 5%;
}

.img-4{
    height: 400px;
    width: 400px;
    border-radius: 5%;
}

.text-img{
    width: 500px;
}

.text-img1{
    margin-left: 50px;
}
.fool{
    margin-top: 20px;
}
.header_txt-3-img{
    display: flex;
}
.text-img1-2{
    margin-left: 50px;
}

